<h3>Your Applications</h3>
<div>
  <div style="float:left;">
    <%= button_to "Create New Application", new_application_path, method: :get %>
  </div>
  <div style="float:left;">
    <div class="filter_options_controller">
      <%= form_tag applications_path, method: "get" do%>
        <%= collection_select(:status, :id, Status.all, :id, :name, { include_blank: "Select Status" }) %>
        <%= submit_tag "Filter" %>
      <% end %>
    </div>
  </div>
  <div style="clear:both;">
  </div>
</div>

<br>
<%= "Filter: #{Status.find_by(id: @id).name}" if Status.find_by(id: @id) %>

<hr>

<table cellpadding="10">
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Location</th>
    <th>Status</th>
  </tr>
  <% @applications.each do |application| %>
    <tr>
      <td><%= link_to application.company, application_path(application) %></td>
      <td><%= application.position %>
      <td><%= application.location %>
      <td><%= application.status.name %></td>
    </tr>
  <% end %>
</table>
