<h3><%= @application.company_name %></h3>


<%= image_tag @application.company.square_logo, :size => '50x50' if @application.company %>

<% if @application.company %>
  <ul><div>
    <li><%= "Overall rating: #{@application.company.overall_rating}" %></li>
    <li><%= "Industry: #{@application.company.industry}" %></li>
    <li>Website: <%= @application.company.website %></li>
    <li><%= "CEO: #{@application.company.ceo_name}" %></li><br/>
    <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
  </div></ul>
<% end %>

<br/>
<div>
  <div style="float:left;">
    <%= button_to "Back to Index", applications_path, method: :get %>
  </div>
  <div style="float:left;">
    <%= button_to "Edit Application", edit_application_path(@application), method: :get %>
  </div>
  <div style="float:left;">
    <%= button_to "Get Company Info from Glassdoor", search_path(query: @application.company_name, application_id: @application.id), method: :post %>
  </div>
  <div style="clear:both;">
  </div>
</div>
<hr>
<h3>Status: <%= @status.name %></h3>
<hr>
<p>Position: <strong><%= @application.position %></strong></p>
<p>Location: <%= @application.location if @application.location %></p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@application.location}&size=300x300&zoom=15" %>
<p>Description: <%= @application.description %></p>
<p>Link to Job Announcement: <%= link_to @application.posting_url, @application.posting_url %></p>
<!--<p>Document: <%= link_to "Download Document", @application.document_url %></p> -->

<h4>Attachments</h4>
<% if !@application.attachments.blank? %>
  <ol><% @application.attachments.each do |attachment| %>
    <li><%= link_to attachment.name, attachment.document_url %></li>
  <% end %></ol>
<% else %>
  <%= "N/A" %><br>
<% end %>
<hr>

<h4>Notes</h4>
<% if !@application.notes.blank? %>
  <ol><% @application.notes.reverse.each do |note| %>
    <li><%= note.date %> -> <%= note.content %></li>
  <% end %></ol>
<% else %>
  <%= "N/A" %><br>
<% end %>
<hr>

<h4>Emails</h4>
  <% if !@application.emails.blank? %>
    <table cellpadding="15">
      <tr>
          <th>Date</th>
          <th>Subject</th>
          <th>Message</th>
      </tr>
      <ol><% @application.emails.reverse.each do |email| %>
        <tr>
          <td><%= link_to email.date, email_path %></td>
          <td><%= email.subject %></td>
          <td><%= email.body %></td>
        </tr>
      <% end %></ol>
    </table>
  <% else %>
    <%= "N/A" %><br>
  <% end %>
<hr>

<div>
  <div style="float:left;">
    <%= button_to "Edit Application", edit_application_path(@application), method: :get %>
  </div>
  <div style="float:left;">
    <%= button_to "Delete Application", application_path, method: :delete %>
  </div>
  <div style="clear:both;">
  </div>
</div>
