<h4>All Emails</h4>

<%= button_to "Back to Applications Index", applications_path, method: :get %>

<table cellpadding="10">
  <tr>
    <th>Date</th>
    <th>From</th>
    <th>Application</th>
    <th>To</th>
    <th>Subject</th>
  </tr>
  <% @emails.each do |email| %>
    <tr>
      <td><%= link_to email.date, email_path(email) %></td>
      <td><%= email.from %></td>
      <td><%= email.application_id ? (link_to Application.find_by(id: email.application_id).company_name, application_path(Application.find_by(id: email.application_id))) : "N/A"  %>
      <td><%= email.to %></td>
      <td><%= email.subject %></td>
    </tr>
  <% end %>
</table>
